@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-color: black;
    color: white;
    background-image: url(./img/Vampire-The-Masquerade-Coteries-of-New-York-New-York-City-church-cathedral-1851531-wallhere.com.jpg);
    background-size: cover;
}

.container {
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(92, 1, 1, 0.644);
    background-color: rgba(70, 2, 2, 0.534);
    position: absolute;
    padding: 100px;
    top: 220px;
    left: 475px;
    text-align: center;
    max-width: 800px;
}

h1 {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-top: -80px;
    margin-bottom: 50px;
}

input {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    border-color: black;
    border-radius: 20px;
    height: 18px;
    padding: 0 8px;
}

button {
    background-color: black;
    color: brown;
    height: 25px;
    width: 80px;
    border-radius: 6px;
}

button:hover {
    color: white;
}

section {
    margin-bottom: -100px;
    margin-top: 50px;
}

#criar-conta {
    text-decoration: none;
    color: white;
}

#criar-conta:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 18px;
    right: 15px;
    font-size: 20px;
}

#help {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;
    transition: box-shadow 0.3s;
    position: relative;
}

#help:hover {
    font-size: 30px;
}